<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button href="/home"><ion-icon name="undo"></ion-icon></ion-button>
        </ion-buttons>
    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p>Encontre aqui a programação para o Processo Seletivo Vestibulinho 2º SEM/19.</p><br><br>

    <p>INGRESSO PARA:</p>
    <p>Ensino Técnico</p>
    <p>CALENDÁRIO PROCESSO SELETIVO VESTIBULINHO
    <p>De <ion-label style="color:brown">28/03</ion-label> até as 15h do dia 09/04/2019 - Inscrições para redução da taxa do Vestibulinho e envio por meio digital, via upload, da documentação comprobatória, no site www.vestibulinhoetec.com.br</p>
    <p>De 10/04 até as 15h do dia 20/05/2019 - <b>PRORROGADAS</b> - Inscrições do Processo Seletivo no site www.vestibulinhoetec.com.br</p>
    <p>A partir de 30/04/2019 - Divulgação no site www.vestibulinhoetec.com.br do resultado da solicitação de redução da taxa de inscrição</p>
    <p>De 30/04 até as 15h do dia 20/05/2019 - Inscrição para quem solicitou a redução da taxa de inscrição</p>
    <p>11/06/2019 - Divulgação dos locais de Exame</p>
    <p>16/06/2019, às 13h30min - Exame</p>
    <p>16/06/2019 (domingo), a partir das 18h - Divulgação do gabarito oficial no site www.vestibulinhoetec.com.br</p>
    <p>17/06/2019 (segunda-feira), a partir das 14h – Divulgação do gabarito oficial para acesso as vagas remanescentes no site www.vestibulinhoetec.com.br.</p>
    <p>18/06/2019 (terça-feira), a partir das 14h – Divulgação do gabarito oficial dos Cursos de Especialização no site www.vestibulinhoetec.com.br.</p>
    <p>05/07/2019 - Divulgação da lista de classificação geral para os cursos técnicos com prova de aptidão</p>
    <p>16/07/2019 - Divulgação da lista de classificação geral dos demais cursos</p>
    <p>17/07 e 18/07/2019 - Divulgação da 1ª lista de convocação e matrícula</p>
    <p>19/07/2019 - Divulgação da 2ª lista de convocação</p>
    <p>22/07 e 23/07/2019 - Matrícula da 2ª lista de convocação</p>
    <p>Valor da taxa de inscrição</p>
    <p>R$ 30,00 (trinta reais)</p>
</ion-content>
